body {
  background-color: yellowgreen;
  display: grid;
  place-items: center;
}
div {
  width: 100px;
  height: 100px;
  background: green;
  transition: width 3s;
}
li {
  margin: 10px;
}
div:hover {
  width: 300px;
}

.div-2 {
  transition: width 2s, height 2s;
  transition-timing-function: linear;
}

.div-2:hover {
  width: 250px;
  height: 250px;
}
